* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
        font-family: "Agrandir";
        src: url("./fontes/Agrandir-TextBold.otf") format("opentype");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
}

::-webkit-scrollbar {
        width: 0;
    }
header{
    background: linear-gradient(to bottom, #722F37, #6D2B2B00);
}
    
body {
        overflow-x: hidden;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to bottom, #722F37, #e43626, #ffb36b);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
    }

nav {
    font-family: 'Agrandir';
    display: flex;
    font-size: large;
    position: fixed;
    top: 0;       
    left: 0;      
    width: 100%;  
    height: 12vh;
    background-color: #803036;
    justify-content: space-between;
    z-index: 1000; 
}


.logo {
    height: 10vh;
    width: auto;
}

.logo > img {
    padding-top: .5em;
    height: 10vh;
    width: 8vw;
}

.paginas {
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.paginas > a {
    display: flex;
    justify-content: end;
    transition: .5s;
    color: red;
    text-decoration: none;
    padding-right: 2.3em;
    padding-left: 2.5em;
    padding-top: 1.25em;
    }


.loja-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    width: 100vw;              
    background: linear-gradient(to bottom, #722F37, #FF3B2F, #FFA85A);
    padding: 2rem;
    margin-top: 12vh; 
    gap: 1rem;              
}

.loja-container a {
    width: 100vw;
    display: block;
}

.loja-container img {
    width: 100vw;
    height: auto; 
    border-radius: 20px;
    transition: .4s;
}

.loja-container a:hover img {
    transform: scale(1.03);
}



.paginas > a:hover {
        padding-top: 1em;
        transition: .5s;
        color: white;
    }

.inicio{
        padding-top: 12vh;
        display: flex;
        justify-content: end; 
        height: 100vh;
        width: 100vw;
        background-image: url('./Images/Charcoal Abstract Liquid Illustration Desktop Wallpaper.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

.meio{
        display: flex;
        justify-content: end;
        background-image: url('./Images/Black Modern Music Festival Presentation (1).png');    
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
    }
.ingressos{
        display: flex; 
        height: 100vh;
        width: 100vw;
        background-image: url('./Images/Ingressos.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.btn_ingresso {
        font-family: 'Agrandir';
        font-size: 2rem;
        text-decoration: none;
        color: white;
        background: linear-gradient(to right, #FF3B2F, #FFA85A);
        padding: 1rem 2rem;
        border-radius: 10px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 15px rgba(255,59,47,0.5);
        transition: .3s;
    }
.btn_ingresso:hover {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 25px rgba(255,59,47,0.7);
    }

.cartaz {
        display: flex;
        justify-content: end;
        width: 40vw;
        height: 90vh;
        padding: 0.9rem;
    }
.container {
    height: 100vh;
    background-color: black;
    align-items: center;
    display: flex;
}
.container > img {
    width: 50%;
    height: auto;
}
.texto {
    font-family: 'Agrandir';
    font-size: 2.5rem;
    text-align: justify;
    color: white;
    padding: 2rem;
}
.texto > h1 {
    font-size: 5rem;
    background: linear-gradient(to right, #FF3B2F, #FFA85A);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
    text-align: center;
    padding-bottom: 1rem;
}

.form-wrapper {
    padding: 12vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #722F37, #FF3B2F, #FFA85A);
    background-size: cover;
    background-position: center;
}

.form-card {
    background: rgba(0,0,0,0.75);
    padding: 40px 50px;
    width: 420px;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    border: 2px solid #FF3B2F;
    box-shadow: 0 0 20px rgba(255,59,47,0.4);
}

.form-card h2 {
    font-family: 'Agrandir';
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 25px;
    background: linear-gradient(to right, #FF3B2F, #FFA85A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-card label {
    display: inline-block;
    font-family: 'Agrandir';
    font-size: 1.1rem;
    background: linear-gradient(to right, #FF3B2F, #FFA85A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 18px;
    margin-top: 20px;
}
.form-card input[type="text"],
.form-card input[type="email"],
.form-card input[type="tel"],
.form-card input[type="password"] {
    width: 100%;
    padding: 1px;
    background: transparent;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFA85A;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: .3s;
}
.form-card input:focus {
    border-bottom: 2px solid #FF3B2F;
}
.radio-group input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background: #000000;
    border: 2px solid transparent;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    background-image:linear-gradient(black, black), 
                      linear-gradient(to right, #FF3B2F, #FFA85A);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.radio-group input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.check-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: #000000;
    border: 2px solid transparent;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    background-image:linear-gradient(black, black), 
                      linear-gradient(to right, #FF3B2F, #FFA85A);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.check-group input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}
.check-group {
    display: flex;
    gap: 4px;
    margin-top: 10px;
}

.radio-group label {
    font-size: 1rem;
    color: white !important;
    background: none !important;
    -webkit-text-fill-color: white !important;
    -webkit-background-clip: unset !important;
}
.check-group label {
    padding-right: 8px;
    font-size: 1rem;
    color: white !important;
    background: none !important;
    -webkit-text-fill-color: white !important;
    -webkit-background-clip: unset !important;
}
.radio-group input {
    margin-right: 8px;
}
.check-group input {
    margin-right: 8px;
}
.file-input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.file-label {
    text-align: center;
    display: inline-block;
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.file-label:hover {
    transform: scale(1.05);
    transition: .3s ease;
    background: linear-gradient(to right, #FF3B2F, #FFA85A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0, 0, 0) !important;
    -webkit-text-fill-color: white !important;
    -webkit-background-clip: unset !important;
}

#pcd {
    display: none;
}



.btn {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-family: 'Agrandir';
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #FF3B2F, #FFA85A);
    transition: .3s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255,59,47,0.5);
}
.box {
    width: 550px;
    padding: 3rem;     
    margin-top: 15vh;
    border-radius: 15px;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(255,59,47,0.4);
    font-family: 'Agrandir';
}

details {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,0.55);
    border: 2px solid transparent;
    background-image:
        linear-gradient(black, black),
        linear-gradient(to right, #FF3B2F, #FFA85A);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: 0.3s;
}


details[open] {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(255,59,47,0.5);
}


summary {
    padding: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    user-select: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


summary::marker {
    display: none;
}


summary::before {
    content: '+';
    font-size: 1.5rem;
    margin-right: 10px;
    background: linear-gradient(to right, #FF3B2F, #FFA85A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

details[open] summary::before {
    content: '-';
    transform: rotate(180deg);
}


.respostas {
    padding: 15px;
    color: white;
    font-size: 1rem;
    background: rgba(0,0,0,0.4);
    border-top: 1px solid rgba(255,255,255,0.1);
    box-shadow: inset 0 0 10px rgba(255,59,47,0.2);
}



.dia1 {
    height: 110vh;
    width: 100vw;
    background-image: url('./Images/dia1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.dia2 {
    height: 110vh;
    width: 100vw;
    background-image: url('./Images/dia2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.dia3 {
    height: 110vh;
    width: 100vw;
    background-image: url('./Images/dia3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
